<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{home/plantilla :: head(titulo='Citas')}"></th:block>
    <link th:href="@{/css/private/citas/citas.css}" rel="stylesheet">
</head>
<body>
    <header th:replace="~{home/plantilla :: header}"/>

    <section th:replace="~{private/citas/secciones :: table-citas-section}"/>

    <footer th:replace="~{home/plantilla :: footer}"/>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/citas.js}"></script>
</body>
</html>