<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{home/plantilla :: head(titulo='Usuarios')}"></th:block>
    <link th:href="@{/css/private/usuarios/usuarios.css}" rel="stylesheet">
</head>
<body>
    <header th:replace="~{home/plantilla :: header}"/>

    <section th:replace="~{private/usuarios/secciones :: table-users-section}"/>

    <footer th:replace="~{home/plantilla :: footer}"/>

    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/usuarios.js}"></script>
</body>
</html>