<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{home/plantilla :: head}">
    </head>
    <body>
        <header th:replace="~{home/plantilla :: header}"/>
        
        <h2>Listado de categorías</h2>     
        
        <section th:replace="~{categoria/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{categoria/fragmentos :: agregarCategoria}"/>        
        <section th:replace="~{categoria/fragmentos :: listadoCategorias}"/>        
        
        <footer th:replace="~{home/plantilla :: footer}"/>
    </body>
</html>
