<!-- Sección de Introducción a Servicios -->
<section th:fragment="services-intro-section" class="services-intro-section container">

    <div class="container text-center">
        <!-- Título -->
        <h2 class="title">Nuestros servicios</h2>
        <p class="subtitle">Lo que ofrecemos en entrenamiento canino</p>

        <!-- Descripción -->
        <p class="services-intro-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a purus molestie mauris vehicula vulputate.
            Nulla facilisi. Morbi tincidunt lacus in urna luctus vestibulum id eu sem. In condimentum non eros a pretium.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a purus molestie mauris vehicula vulputate.
        </p>

        <p class="services-intro-text">
            Nulla facilisi. Morbi tincidunt lacus in urna luctus vestibulum id eu sem. In condimentum non eros a pretium.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a purus molestie mauris vehicula vulputate.
            Nulla facilisi. Morbi tincidunt lacus in urna luctus vestibulum id eu sem. In condimentum non eros a pretium.
        </p>
    </div>
</section>


